@font-face {
  font-family: 'iconfont'; /* Project id 2489051 */
  src: url('https://at.alicdn.com/t/font_2489051_h1rss9yxw35.woff2?t=1623403081209')
      format('woff2'),
    url('https://at.alicdn.com/t/font_2489051_h1rss9yxw35.woff?t=1623403081209')
      format('woff'),
    url('https://at.alicdn.com/t/font_2489051_h1rss9yxw35.ttf?t=1623403081209')
      format('truetype');
}

.iconfont {
  font-family: 'iconfont' !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.iconxiangxiajixu:before {
  content: '\e69c';
}

.iconxiangxia:before {
  content: '\e60c';
}

.iconjianshao1:before {
  content: '\e60b';
}

.iconchenggong:before {
  content: '\e607';
}

.icontriangle-up:before {
  content: '\e67c';
}

.icontianjia:before {
  content: '\e62b';
}

.iconguanbi:before {
  content: '\e60d';
}

.iconbaozhengyudingfangjianbaozheng:before {
  content: '\e60e';
}

.icondingwei1:before {
  content: '\e60f';
}

.iconjia:before {
  content: '\e600';
}

.iconxiangzuo:before {
  content: '\e71a';
}

.iconfeiji1:before {
  content: '\e642';
}

.iconweibiaoti34:before {
  content: '\e634';
}

.iconguanbi-xiao:before {
  content: '\e617';
}

.iconsanjiao:before {
  content: '\e61a';
}

.iconguanbiqucantishianniu:before {
  content: '\e61c';
}

.iconchenggongqucan:before {
  content: '\e61d';
}

.iconjianshao:before {
  content: '\e621';
}
